.AboutCommitteeSection{
  padding: 4rem 0;
  max-width: 100%;
}

.titleHeading {
  padding-left: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.titleHeadingColor {
  display: block;
  color: #C00A3A;
  font-size: 2.5rem;
  font-weight: 700;
}

.committeeContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 222px;
  border-radius: 25px;
}

.wide {
  width: 52%;
}

.wide .readMore {
  margin: 9rem 1rem 1rem 73%;
}

.narrow {
  width: 40%;
}

.narrow .readMore {
  margin: 9rem 1rem 1rem 63%;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 124px;
  height: 181px;
  object-fit: cover;
  border-radius: 0.75rem;
  margin: 1rem;
  flex-shrink: 0;
}

.content {
  position: relative;
  padding: 0.4rem 1rem 0 0;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2D2D2D;
  line-height: 0;
}

.designation {
  font-weight: 700;
  font-size: 1.5rem;
  color: #2D2D2D;
  margin: 0;
  padding: 0;
}

.details {
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  margin: 0;
  padding: 0;
}

.biography {
  font-size: 14px;
  font-weight: 300;
  color: #767676;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.readMore {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
}

.readMoreBtn {
  padding: 1rem 1rem;
  width: 151px;
  display: inline-flex;
  justify-content: center;
  border: none;
  background: #FFFEF7;
  color: #C00A3A;
  border-radius: 999px;
  font-size: 0.85rem;
  cursor: pointer;
  gap: 0.3rem;
  transition: background 0.3s ease;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.readMoreBtn:hover {
  background: #C00A3A;
  color: #FFFEF7;
}

@media (max-width: 1500px) {
  .readMoreBtn {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  .name {
    font-size: 1.3rem;
  }

  .designation {
    font-size: 1.3rem;
  }

  .details {
    font-size: 13px;
  }

  .biography {
    font-size: 13px;
  }

  .narrow .readMore {
    margin: 9rem 1rem 1rem 53%;
  }

  .wide .readMore {
    margin: 9rem 1rem 1rem 63%;
  }
}

@media (max-width: 1200px) {
  .name {
    font-size: 1.1rem;
  }

  .designation {
    font-size: 1.1rem;
  }

  .details {
    font-size: 10px;
  }

  .biography {
    font-size: 10px;
  }

  .narrow .readMore {
    margin: 9rem 1rem 1rem 43%;
  }

  .wide .readMore {
    margin: 9rem 1rem 1rem 53%;
  }
}

@media (max-width: 1050px) {
  .narrow .readMore {
    margin: 9rem 1rem 1rem 30%;
  }
}

@media (max-width: 950px) {
  .name {
    font-size: 1.5rem;
  }

  .designation {
    font-size: 1.5rem;
  }

  .details {
    font-size: 14px;
  }

  .biography {
    font-size: 14px;
  }

  .narrow .readMore {
    margin: 9rem 1rem 1rem 60%;
  }

  .wide .readMore {
    margin: 9rem 1rem 1rem 70%;
  }

  .wide {
    width: 100%;
  }

  .narrow {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .name {
    font-size: 1.3rem;
  }

  .designation {
    font-size: 1.3rem;
  }

  .details {
    font-size: 12px;
  }

  .biography {
    font-size: 12px;
  }

  .narrow .readMore {
    margin: 9rem 1rem 1rem 50%;
  }

  .wide .readMore {
    margin: 9rem 1rem 1rem 60%;
  }
}

@media (max-width: 600px) {
  .name {
    font-size: 1.2rem;
  }

  .designation {
    font-size: 1.2rem;
  }

  .details {
    font-size: 11px;
  }

  .biography {
    font-size: 11px;
  }

  .narrow .readMore {
    margin: 12rem 1rem 1rem 30%;
  }

  .wide .readMore {
    margin: 12rem 1rem 1rem 50%;
  }

  .card {
    height: 250px;
  }
}

@media (max-width: 525px) {
  .name {
    font-size: 1.1rem;
  }

  .designation {
    font-size: 1.1rem;
  }

  .details {
    font-size: 10px;
  }

  .biography {
    font-size: 10px;
  }

  .content {
    align-items: center;
  }

  .narrow .readMore {
    margin: 10rem 1rem 1rem;
  }

  .wide .readMore {
    margin: 10rem 1rem 1rem;
  }

  .card {
    height: 450px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .card {
    height: 500px;
  }

  .wide .readMore {
    margin: 14rem 1rem 1rem;
  }

  .narrow .readMore {
    margin: 14rem 1rem 1rem;
  }

  .name {
    font-size: 1.0rem;
  }
}